
<div class="row">
    <div class="col-md-12">
        <div class="well clearfix">
            <blockquote class="lead">
                <p>Tabla de informacion de actualizaciones</p>
            </blockquote>
            <div class="panel-group" id="b">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title clearfix">
                            <a data-toggle="collapse" data-parent="#b" href="#c">
                                <h2 class="text-info">Version 1.6<i class="fa fa-caret-square-o-down fa-fw pull-right text-info"></i></h2>
                            </a>
                        </h4>
                    </div>
                    <div id="c" class="panel-collapse collapse in">

                        <div class="panel-group" id="a">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#a" href="#d">
                                            <h3> Curriculums <i class="fa et-square-o-down fa-fw pull-right text-danger fa-exclamation"></i></h3>
                                        </a>
                                    </h4>
                                </div>
                                <div id="d" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ul>
                                            <li>
                                                <h4>Se Corrigio un problema que mostraba curriculums duplicados.</h4>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
