

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<hr />
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                @{ Html.RenderAction("vista_foto", "control_cuenta");}
            </div>
            <div class="col-md-9">
                <div class="row">
                    @*{ Html.RenderAction("vista_porcentaje_oferta", "ofertas_main");}*@
                    @*{ Html.RenderAction("vista_total_postulados", "ofertas_main");}*@
          
                </div>
                @{ Html.RenderAction("vista_tabla_actualizaciones", "ofertas_main");}
            </div>
        </div>
    </div>
</div>


