<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet" type="text/css">
<link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
      rel="stylesheet" type="text/css">

<style>
    .item-select {
        font-family: 'Lato';
        font-size: 13px;
        background-color: #6ba5b3;
        color: #fff;
        border-radius: 3px;
        padding: 3px 10px;
        display: inline;
        margin: 0 5px 5px 0;
    }
</style>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <img src="C:\Users\jgutierreza\Desktop\logo_muni.png" class="center-block img-responsive">
            </div>
            <div class="col-xs-8">
                <h1 class="text-center">Informe de contactos postulados</h1>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center"><span class="label-info">@ViewBag.nombre_oferta</span></h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>